
<div th:replace = "includes/header"></div>
<style>
    #ballondiv{
        width: 20vw;
        z-index: 4;
    }

    .clouddiv{
        width: 20vw;
    }

    .clouddiv#front{
        z-index: 5;
    }

    .clouddiv#back{
        z-index: 3;
    }

    .component{
        position: relative;
    }

    #balloon{
        left: 70vw;
        top: 14vh;
    }

    #cloud_front{
        left: 56vw;
        top: 20vh;
        opacity: 0.96;
    }

    #cloud_back{
        left: 74vw;
        top : 40vh;
    }

</style>
    <!-- banner part start-->
    <section class="banner_part" id="main_banner" >
        <div class="container">
            <div class="row align-items-center" >
                <div class="col-lg-7" >
                    <div class="banner_text" >
                        <div class="banner_text_iner">
                            <!-- <h5>Best way to tour</h5>
                            <h1>Lorem ipsum dolor amet consec</h1> -->
                            <h1 class="tlt" >
                                <ul class="texts">
                                    <li data-in-effect="bounceIn" data-out-effect="bounceIn" data-out-shuffle="true"><sub>동</sub>화가 되는 가족이야기</li>
                                    <li data-in-effect="bounceIn">&emsp;동가</li>
                                </ul>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ballondiv" data-depth="0.7">
            <img src="/index/img/balloon.png" class="component" id="balloon" >
        </div>
        <div id="back" class="clouddiv" data-depth="0.2">
            <img src="/index/img/cloud.png" class="component" id="cloud_back" >
        </div>
        <div id="front" class="clouddiv"  data-depth="0.3">
            <img src="/index/img/cloud.png" class="component" id="cloud_front" >
        </div>
    </section>
    <!-- banner part start-->
    <!-- pallax move icon -->
    <script> 
        var screen = document.getElementById("main_banner");
        console.log(screen)
        var parallax = new Parallax(screen);
    </script>
    <!-- Text Animation-->
    <script>$('.tlt').textillate()</script>        


    

    

    <!-- use sasu part end-->
    <section class="popular_place padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="section_tittle text-center">
                        <img src="/index/img/section_tittle_img.png" alt="">
                        <h2>Example</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="single_popular_place">
                        <img src="/index/img/icon/place_icon_1.png" alt="">
                        <h4>Life of Egeft</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                        <a href="#" class="btn1">book now</a>
                    </div>
                </div><div class="col-lg-4 col-sm-6">
                    <div class="single_popular_place">
                        <img src="/index/img/icon/place_icon_2.png" alt="">
                        <h4>Biking in Norway</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                        <a href="#" class="btn1">book now</a>
                    </div>
                </div><div class="col-lg-4 col-sm-6">
                    <div class="single_popular_place">
                        <img src="/index/img/icon/place_icon_3.png" alt="">
                        <h4>Tour of iceland</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                        <a href="#" class="btn1">book now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- use sasu part end-->

    <!-- about_us part start-->
    <section class="place_details section_padding">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                    <div class="place_detauls_text">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <div class="place_details_content">
                                    <img src="/index/img/section_tittle_img.png" alt="#">
                                    <h2>동가에 대해서</h2>
                                    <p>
                                    <span>동</span>화가 되는 가족이야기<br>동가에 오신것을 환영합니다!<br>
                                    여행을 앨범으로 남겨보세요!</p>
                                    
                                </div>
                            </div>
                        </div>
                        <img src="/index/img/plase_details_1.png" alt="#">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="place_details_img">
                        <img src="/index/img/plase_details_2.png" alt="#">
                    </div>
                </div>
            </div>
        </div>
        <div class="view_all_btn">
            <a href="#" class="view_btn">view all</a>
        </div>
    </section>
    <!-- about_us part end-->

    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="container">
            <div class="row">
            <hr>
            <div class="row">
                <div class="col-lg-8">
                    <div class="copyright_text">
                        <P><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></P>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer_icon social_icon">
                        <ul class="list-unstyled">
                            <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <img src="/index/img/overlay_2.png" alt="#" class="footer_overlay">
    </footer>
    <!--::footer_part end::-->

    <!-- jquery plugins here-->
   
    <!-- popper js -->
    <script src="/index/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/index/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/index/js/jquery.magnific-popup.js"></script>
    <!-- particles js -->
    <script src="/index/js/owl.carousel.min.js"></script>
    <script src="/index/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/index/js/slick.min.js"></script>
    <script src="/index/js/jquery.counterup.min.js"></script>
    <script src="/index/js/waypoints.min.js"></script>
    <script src="/index/js/contact.js"></script>
    <script src="/index/js/jquery.ajaxchimp.min.js"></script>
    <script src="/index/js/jquery.form.js"></script>
    <script src="/index/js/jquery.validate.min.js"></script>
    <script src="/index/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/index/js/custom.js"></script>
    

    

</body>

</html>