<div th:replace="includes/header"></div>
<style>

  .section-top-border {
    padding-top: 100px;
    border: 0px;
  }

  #gallerybox{
    margin-top: 150px;
  }

  .col-lg-3.col-md-4.col-6 img{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2); 
  }

</style>
<form id='form' action ='/map/gallery2' method="POST" hidden></form>
<div id="gallerybox" class="container">

  <div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">슬라이드에 포함될 사진 선택</h1>
    <img src="">
    <hr class="mt-2 mb-5">
    <div class='row text-center text-lg-left' id='" + set + "'>
    </div>
  </div>
</div>
  <!-- jquery cdn -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script> -->
  <!-- slider swiper api cdn -->
  <!-- <script src="https://unpkg.com/swiper/js/swiper.min.js"></script> -->
  <!-- 부트스트랩 js -->
  <!-- <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

  <!-- 자바스크립트에서 타임리프 인라인해서 쓰기 -->
  <script th:inline="javascript">//!!중요 1
    $("document").ready(function () {
 
      var dateSet = new Set();
      var pictureDTO = [[${ pictureDTO }]]; //!! 중요2 return = pictureDTO 객체 리스트(빨간줄 에러아님)
      var dongaId = [[${ dongaId }]];
      var container = "";
      var img = "";

      console.log(pictureDTO);
      pictureDTO.forEach(dto => {
        var date = dto.capDate;
        dateSet.add(date); //중복된 날짜 제거를 위한 set
      });
      console.log(dateSet);

      //1.model에 전달된 사진들의 일자별로 container를 만든다.
      //2.각 컨테이너의 날짜와 같은 객체들을 차례로 img태그를 만들어 추가한다.
      //3.각 이미지별로 버튼을 붙인다.

      dateSet.forEach(set => { //모델로 전달된 사진들의 날짜별 컨테이너
        if(set !== "2100-12-31"){
          container += "<div class='container'>" +
            "<h1 class='font-weight-light text-center text-lg-left mt-4 mb-0'>" + set + "</h1>" +
            "<hr class='mt-2 mb-5'>" +
            "<div class='row text-center text-lg-left' id ='" + set + "'>" +
            "</div>" +
            "</div>";
        }
      })

      container += "<div class='container'>" +
        "<h1 class='font-weight-light text-center text-lg-left mt-4 mb-0'>삭제될 사진들" +
        "<h5 class='font-weight-light text-center text-lg-left mb-0'>정보가 없는 사진들도 포함되요</h5></h1>" +
        "<hr class='mt-2 mb-5'>" +
        "<div class='row text-center text-lg-left' id ='trashbin'>" +
        "<div class='col-lg-3 col-md-4 col-6'>" +
        "<div class='d-block mb-4 h-100'>" +
        "<img class='img-fluid img-thumbnail' src='/trashbin.jpg'>" + //dto로 전달된 사진 태그
        "<button type='button' class='close' aria-label='Close'><span class='oi' data-glyph='loop-circular'></span></button>" +
        "</div>" +
        "</div>" +
        "</div>" +
        "<button type='button' class='btn btn-primary'>다음페이지로</button></div>";
      // "";

      var gallerybox = document.getElementById("gallerybox");
      gallerybox.innerHTML += container;

      //각 사진의 정보들을 확인후 각 날짜별 컨테이너 또는 휴지통 컨테이너에 포함
      //날짜정보가 없는 사진의 날짜 == 2100-12-31
      var date = new Date("2100-12-31"); 
      pictureDTO.forEach(dto => {

        var dtoDate = new Date(dto.capDate); //현재 사진의 날짜정보
        var container;                       //사진 dom객체를 담을 컨테이너 div
        var btnTag;                         //버튼 태그 String
        if(date === dtoDate || dto.lng === 0 || dto.lat === 0){
          container = "trashbin" ;
          btnTag = "";
        }
        else{
          container = dto.capDate;
          btnTag = "<button type='button' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button>";
        }

        img = "<div class='col-lg-3 col-md-4 col-6'>" +
          "<div class='d-block mb-4 h-100'>" +                   //이미지 블록
          "<img class='img-fluid img-thumbnail' data-name ='" + dto.filename +
          // "'src='http://192.168.0.77:8080/pictures/" + dto.projectName + "/" + dto.filename + "'>" + //dto로 전달된 사진 태그
          "'src='/pictures/" + dto.projectName + "/" + dto.filename + "'>" + //dto로 전달된 사진 태그
          btnTag +
          "</div>" +
          "</div>";
        // var container = (date === dtoDate || dto.lng === 0 || dto.lat === 0)? 'trashbin' : dto.capDate;
        document.getElementById(container).innerHTML += img;
      });


      //다음페이지로 이동 버튼 클릭시
      var confirmBtn = $(".btn-primary");
      confirmBtn.on("click", function () {

        // window.alert("다음페이지로");
        var nameArr = [];
        var deleteImg = $("#trashbin img");
        var formObj = $("#form");
  

        deleteImg.each(function (index) {
          if (index != 0) {
            formObj.append("<input name = 'filenames' value ='" + $(this).data('name') + "'></input>");
          }
        })
        formObj.append("<input name = 'dongaId' value ='" + dongaId + "'></input>");
        formObj.submit();
      })

    })//end of onload
  </script>
  <script>

    $("document").ready(function () {


      var closeBtn = $("button.close");
      //각 사진의 x버튼 클릭시 이벤트
      closeBtn.on("click", function () {
        // window.alert("버튼 클릭!!!")
        var button = $(this);
        var imgDiv = button.closest("div.col-lg-3");
        var container = button.closest("div.text-lg-left");
        var containerId = container.attr("id");

        // 1.img가 담겨져 있는 container의 id를 검사한다.
        // 2.id가 trashbin 이라면 전에 있던 날짜 container에 div를 옴기고
        // 3.trashbin이 아니라면, trashbin으로 옮긴다.
        console.log(typeof (containerId));
        var toDiv = containerId == "trashbin" ? $("#" + button.data("container")) : $("#trashbin");
        console.log(toDiv);
        button.data("container", containerId);

        toDiv.append(imgDiv);
      })


    })//end of onload
  </script>
  <div th:replace="includes/footer"></div>