<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    button.close {
      position: absolute;
      right: 5px;
      top: -10px;
      background: white;
      opacity: 0.8;
      border-radius: 20px;
      width: 30px;
    }

    span[aria-hidden=true] {
      font-size: 2rem;
      color: grey;
    }

    .close:not(:disabled):not(.disabled):focus,
    .close:not(:disabled):not(.disabled):hover {
      opacity: 1;
    }

    span[aria-hidden=true]:not(:disabled):not(.disabled):hover {
      color: red;
    }
  </style>
</head>

<body>

  <form action="/map/gallery" method="post" hidden></form>

  <div>
    <input id="uploadInput" type="file" multiple>파일
  </div>

  <div class="progress" style="opacity: 1;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
      aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
  </div>


  <div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">슬라이드에 포함될 사진 선택</h1>
    <img src="">
    <hr class="mt-2 mb-5">
    <!-- <img src = "/pictures/project1/IMG_0096.jpg"> -->
  </div>

  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <!-- slider swiper api cdn -->
  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <!-- 부트스트랩 js -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- 자바스크립트에서 타임리프 인라인해서 쓰기 -->
  <script th:inline="javascript">//!!중요 1
    $("document").ready(function () {

      var dateSet = new Set();
      var pictureDTO = [[${ pictureDTO }]]; //!! 중요2 return = pictureDTO 객체 리스트(빨간줄 에러아님)
      var dongaId = [[${ dongaId }]];
      var container = "";
      var img = "";

      console.log(pictureDTO);
      pictureDTO.forEach(dto => {
        var date = dto.capDate;
        dateSet.add(date); //중복된 날짜 제거를 위한 set
      });
      console.log(dateSet);

      //1.model에 전달된 사진들의 일자별로 container를 만든다.
      //2.각 컨테이너의 날짜와 같은 객체들을 차례로 img태그를 만들어 추가한다.
      //3.각 이미지별로 버튼을 붙인다.

      dateSet.forEach(set => { //모델로 전달된 사진들의 날짜별 컨테이너
        container += "<div class='container'>" +
          "<h1 class='font-weight-light text-center text-lg-left mt-4 mb-0'>" + set + "</h1>" +
          "<hr class='mt-2 mb-5'>" +
          "<div class='row text-center text-lg-left' id ='" + set + "'>" +
          "</div>" +
          "</div>";
      })
      container += "<div class='container'>" +
        "<h1 class='font-weight-light text-center text-lg-left mt-4 mb-0'>삭제될 사진들" +
        "<h5 class='font-weight-light text-center text-lg-left mb-0'>정보가 없는 사진들도 포함되요</h5></h1>" +
        "<hr class='mt-2 mb-5'>" +
        "<div class='row text-center text-lg-left' id ='trashbin'>" +
        "<div class='col-lg-3 col-md-4 col-6'>" +
        "<div class='d-block mb-4 h-100'>" +
        "<img class='img-fluid img-thumbnail' src='/trashbin.jpg'>" + //dto로 전달된 사진 태그
        "<button type='button' class='close' aria-label='Close'><span class='oi' data-glyph='loop-circular'></span></button>" +
        "</div>" +
        "</div>" +
        "</div>" +
        "<button type='button' class='btn btn-primary'>다음페이지로</button></div>";
      // "";

      document.body.innerHTML += container;

      //
      pictureDTO.forEach(dto => {
        console.log(dto.filename);
        img = "<div class='col-lg-3 col-md-4 col-6'>" +
          "<div class='d-block mb-4 h-100'>" +                   //이미지 블록
          "<img class='img-fluid img-thumbnail' data-name ='" + dto.filename +
          "'src='http://192.168.0.73:8080/pictures/" + dto.projectName + "/" + dto.filename + "'>" + //dto로 전달된 사진 태그
          "<button type='button' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"+
        "</div>"+
        "</div>";
        document.getElementById(dto.capDate).innerHTML += img;
      });

      var confirmBtn = $(".btn-primary");
      confirmBtn.on("click", function () {

        window.alert("다음페이지로");
        var nameArr = [];
        var deleteImg = $("#trashbin img");
        var formObj = $("form");
        //다음페이지로 이동 버튼 클릭시
        //1.trashbin에 들어가 있는 img의 src의 파일이름을 form데이터의 같은 name으로 저장한다.



        deleteImg.each(function (index) {
          if (index != 0) {
            formObj.append("<input name = 'filenames' value ='" + $(this).data('name') + "'></input>");
          }
        })
        formObj.append("<input name = 'dongaId' value ='" + dongaId + "'></input>");
        formObj.submit();
      })

    })//end of onload
  </script>
  <script>

    $("document").ready(function () {

      //file input에 파일 입력시
      $("#uploadInput").change(function (e) {

        var formData = new FormData();

        var input = $("#uploadInput"); //input 객체
        var files = input[0].files; //담겨진 파일데이터들

        var progressbar = $(".progress-bar");
        var progress = $(".progress");

        var fileLegnth = files.length; //전송될 파일 수
        var doneCount = 0; //전송 성공 횟수

        //프로그레스바 구현 로직
        //1. 인풋에 들어온 파일의 수만큼 ajax를 수행한다.
        //2. 반복문으로 파일들을 차례로 날린다.
        //3. success에서 doneCount를 증가시키고 , 파일수로 나누어 프로그레스 바의 넓이값을 계산해 적용시킨다. 

        progress.css("opacity", "1");
        progressbar.css("width", "0%");
        console.log(fileLegnth);
        for (var i = 0; i < fileLegnth; i++) {

          //각 파일들을 새로운 FormData 객체를 생성해 담는다.
          var formData = new FormData();
          formData.append("uploadFiles", files[i]);
          console.log(formData);

          $.ajax({
            url: '/map/upload',
            type: 'POST',
            data: formData, // formData.append("uploadFiles", files[i]);
            contentType: false,
            processData: false,
            success: function (result) {
              doneCount++;
              console.log(typeof (result[0].capDate));
              var width = (doneCount / fileLegnth) * 100 + "%";
              progressbar.css("width", width);

              //모든 ajax 통신 완료시 투명 애니메이션 수행
              if (doneCount == fileLegnth) {
                progress.animate({
                  opacity: 0.0
                }, 5000, function () { })
              }

            }//end of (success function)
          })
        }//end of loop;
      })

      var closeBtn = $("button.close");
      //각 사진의 x버튼 클릭시 이벤트
      closeBtn.on("click", function () {
        // window.alert("버튼 클릭!!!")
        var button = $(this);
        var imgDiv = button.closest("div.col-lg-3");
        var container = button.closest("div.text-lg-left");
        var containerId = container.attr("id");

        // 1.img가 담겨져 있는 container의 id를 검사한다.
        // 2.id가 trashbin 이라면 전에 있던 날짜 container에 div를 옴기고
        // 3.trashbin이 아니라면, trashbin으로 옮긴다.
        console.log(typeof (containerId));
        var toDiv = containerId == "trashbin" ? $("#" + button.data("container")) : $("#trashbin");
        console.log(toDiv);
        button.data("container", containerId);

        toDiv.append(imgDiv);
      })

      //페이지 이동 버튼


    })//end of onload
  </script>
</body>

</html>