<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <form method="POST" action="/map/set" enctype="multipart/form-data">
        <label for="uname"><b>title</b></label>
        <input type="text" placeholder="Enter title" name="title" required>
    
        <label for="strDate"><b>시작일</b></label>
        <input type="date" placeholder="Enter Start Date" name="startdate" required>
    
        <label for="endDate"><b>종료일</b></label>
        <input type="date" placeholder="Enter End Date" name="enddate" required>

        <label for="img"><b>Iamge upload</b></label>
        <input type="file" name="upload" multiple required>

        <button type="submit">입력!</button>
    </form>
</div>

<!-- jquery cdn -->
<script src="https://code.jquery.com/jquery-3.5.0.min.js"
integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

<script>
    //입력 버튼 클릭시 
    
</script>

</body>
</html>