<div th:replace = "includes/header"></div>
<style>

	.bg-contact100{
		margin-top : 90px
	}
</style>
<!-- <section class="banner_part" id="main_banner" data-depth="0.2"> -->
	<div class="bg-contact100" style="background-image:  url('/korea.jpg');">
		<div class="container-contact100">
			<div class="wrap-contact100">
				<div class="contact100-pic js-tilt" data-tilt>
					<!-- <img src="/familytravel.jpg" alt="IMG"> -->
					<img src="/familytravel2.jpg" alt="IMG">
				</div>

				<form class="contact100-form validate-form" action="/map/set2" method="post" enctype="multipart/form-data">
					<span class="contact100-form-title">
						가족 동가 만들기
					</span>

                    <div class="wrap-input100 validate-input" data-validate = "제목을 입력해주세요">
						<input class="input100" type="text" name="title" placeholder="동가 제목">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fas fa-shuttle-van" aria-hidden="true"></i>
						</span>
                    </div>

					<div class="wrap-input100 validate-input" data-validate = "여행 시작일을 입력해주세요">
						<!-- <input class="input100" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="startdate" placeholder="여행 시작일"> -->
						<input class="input100" type="date"  name="startdate" placeholder="여행 시작일">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="far fa-calendar-alt" aria-hidden="true"></i>
						</span>
                    </div>
                    
                    <div class="wrap-input100 validate-input" data-validate = "여행 종료일을 입력해주세요">
						<!-- <input class="input100" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="enddate" placeholder="여행 종료일"> -->
						<input class="input100" type="date" name="enddate" placeholder="여행 종료일">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="far fa-calendar-alt" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100">
                        <input class="input100 fileInput" data-multiple-caption="{count} files selected" multiple id="file" type="file" name="upload" placeholder="">
                        <!-- <input type="file" name="file" id="file" class="inputfile" /> -->
                        <label class = "input100 fileLabel" for="file">Choose a file</label>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<!-- <div class="wrap-input100 validate-input" data-validate = "Message is required">
						<textarea class="input100" name="message" placeholder="Message"></textarea>
						<span class="focus-input100"></span>
					</div> -->

					<div class="container-contact100-form-btn">
						<button class="contact100-form-btn">
							완료
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>


<!-- </section> -->



<div th:replace = "includes/script"></div>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>

<!--인풋 변경시 label 변경-->
<script>
	//1.인풋에 파일 입력시 라벨의 파일의 갯수를 체크한다.
	//2.파일의 갯수가 2이상이면, 갯수를 string 변수에 담고, 아니면 파일이름을 담는다.
	//3.string 변수의 값의 조건이 true면 label의 innerhtml을 string 값으로 변경한다.
	var input = $(".fileInput");

	input.change(function(e){
		fileLength = input.get(0).files.length;
		var message = "";
		if(fileLength > 1){
			message = input.data("multiple-caption").replace("{count}",fileLength);
		}
		else{
			message = input.get(0).files[0].name;
		}

		if(message){
			var label = $(".fileLabel");
			label.html(message);
		}
		
	});
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<div th:replace = "includes/footer"></div>
