
 <!-- jquery cdn -->
 <script src="https://code.jquery.com/jquery-3.5.0.min.js"
 integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<!-- slider swiper api cdn -->
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<!-- 부트스트랩 js -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jquery -->
<!-- <script src="/index/js/jquery-1.12.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
 integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script> -->
<!-- parallax js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js.map"></script> -->
<!-- CSS Text Animation libary-->
<script src="/index/js/jquery.fittext.js"></script>
<script src="/index/js/jquery.lettering.js"></script>
<!-- <script src="http://yandex.st/highlight/index/js/7.3/highlight.min.js"></script> -->
<script src="/index/js/jquery.textillate.js"></script>

<!-- popper js -->
<script src="/index/js/popper.min.js"></script>
<!-- bootstrap js -->
<!-- <script src="/index/js/bootstrap.min.js"></script> -->
<!-- easing js -->
<script src="/index/js/jquery.magnific-popup.js"></script>
<!-- particles js -->
<script src="/index/js/owl.carousel.min.js"></script>
<script src="/index/js/jquery.nice-select.min.js"></script>
<!-- slick js -->
<script src="/index/js/slick.min.js"></script>
<script src="/index/js/jquery.counterup.min.js"></script>
<script src="/index/js/waypoints.min.js"></script>
<script src="/index/js/contact.js"></script>
<script src="/index/js/jquery.ajaxchimp.min.js"></script>
<script src="/index/js/jquery.form.js"></script>
<script src="/index/js/jquery.validate.min.js"></script>
<script src="/index/js/mail-script.js"></script>
<!-- custom js -->
<script src="/index/js/custom.js"></script>

<!--read js-->
<script src="/js/modernizr.custom.js"></script>
<script src="/js/jszip.min.js"></script>
<script src="/js/FileSaver.js"></script>
<script src="/js/fabric.js"></script>
<script src="/js/sprite.js"></script>